h2 {
    font-weight: 700;
    color: rgb(86, 86, 104)
}

.post--card {
    /* display: inline;
    flex-direction: column;
    width: 300px;
    margin: 40px;
    padding: 40px;
    border: 2px solid black;
    cursor: pointer; */
    width: 40vw;
    display: inline-block;
    margin: 20px 30px;
    padding: 30px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 7px;
}

.post--card__content {
    display: flex;
    flex-direction: column;
}

.post--card__title,
.post--card__body {
    margin: 10px 0;
    display: inline-block;
    height: 40px;
    padding: 0 12px;
    font-size: 18px;
    background-color: bisque;
    border: 0;
    background: #aaa;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.post--card__comments {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.post--card__comments.open {
    display: flex;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 300px;
}

li {
    display: flex;
}