.posts--wrapper {
    display: flex;

}

.post--card {
    display: flex;
    flex-direction: column;
    width: 300px;

    margin: 40px;
    padding: 40px;
    border: 2px solid black;
}

.comments {
    display: flex;


    justify-content: center;
    align-items: center;


    visibility: hidden;
    opacity: 0;


}

.comments.open {
    visibility: visible;
    opacity: 1;


}